.topBarWrapper {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
    gap: 12px;
  }
  
  .topBarContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .topBar {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    max-width: 100%;
    scrollbar-width: none;
    padding: 4px 0;
  }
  
  .topBar::-webkit-scrollbar {
    display: none;
  }
  
  .icon {
    padding: 6px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: grab;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .arrow {
    background: none;
    color: gray;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 12px;
    user-select: none;
  }
  
  .addClusterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px 20px; /* Adjust as needed */
    color: #0B1C33;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    width: 220px; /* Make the button longer */
  }
  
  .buttonContent {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .addClusterButton img {
    width: 18px;
    height: 18px;
  }
  
  